<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<section data-bs-version="5.1" class="header12 cid-upaCcF7SQP mbr-parallax-background" id="header12-7">

    

    
    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-12 col-lg-9">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h1 class="card-title mbr-fonts-style mb-3 display-1">
                            <strong>Nossos clientes</strong></h1>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Id</th>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Endereço</th>
                                    <th>Editar</th>
                                    <th>Excluir</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% clientes.forEach(cliente=> { %>
                                <tr>
                                    <td><i class="bi bi-file-person-fill" style="font-size: 25px;"></i></td>
                                    <td><%= cliente.id %></td>
                                    <td><%= cliente.nome %></td>
                                    <td><%= cliente.cpf %></td>
                                    <td><%= cliente.endereco %></td>
                                    <td><i class="bi bi-pencil-square" style="font-size: 25px;"></i></td>
                                    <td><i class="bi bi-person-dash" style="font-size: 25px; color: #e75e8b;"></i></td>
                                </tr>
                                <% }) %>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include ('partials/footer.ejs') %>