<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<section data-bs-version="5.1" class="form9 cid-ur9qaAOSgX" id="form9-9">
    
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Cadastro</strong></h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="/pedidos/new" method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="fdSMdxNs2OgNzbEg18AeDnAQkRjmhIOJ0irk6CxCDJBDt2SGGVTVA40fYVtMo2oW9APAZmVtjbpY3N3wBdW0yINQ33mGJ89NkPsD/ewmhgCWuzfRkQdQeggBgVgnQc3F">
                    <div class="dragArea row">
                        <div class="col-lg-12">
                            <p class="mbr-text mbr-fonts-style align-center mb-4 display-7"> Preencha todos os campos!</p>
                        </div>
                        <!-- Campo numero -->
                        <div class="col-md col-12 form-group mb-3" data-for="numero">
                            <input type="number" name="numero" placeholder="Numero" data-form-field="numero" class="form-control">
                        </div>

                        <!-- Campo Valor -->
                        <div class="col-md col-12 form-group mb-3" data-for="valor">
                            <input type="number" name="valor" placeholder="Valor" data-form-field="valor" class="form-control" step="0.2">
                        </div>
                        
                        <!-- Botão de envio -->
                        <div class="mbr-section-btn col-12 col-md-auto">
                            <button type="submit" class="btn display-4" style="background-color: #e75e8b; color: aliceblue;">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="header12 cid-upaCcF7SQP mbr-parallax-background" id="header12-7">

    

    
    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-12 col-lg-9">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h1 class="card-title mbr-fonts-style mb-3 display-1">
                            <strong>Nossos Pedidos</strong></h1>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Numero</th>
                                    <th>Valor</th>
                                    <th>Editar</th>
                                    <th>Excluir</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <% console.log(pedidos); %>

                                <% pedidos.forEach(pedido => { %>
                                <tr>
                                    <td><i class="bi bi-box2-heart-fill" style="color: #e75e8b; font-size: 25px;"></i></td>
                                    <td><%= pedido.numero %></td>
                                    <td><%= pedido.valor.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></td>
                                    <td><a href="/pedidos/edit/<%= pedido.numero %>"><i class="bi bi-pencil-square" style="font-size: 25px; color: black;"></i></a></td>
                                    <td><a href="/pedidos/delete/<%= pedido.numero %>"><i class="bi bi-trash3-fill" style="font-size: 25px; margin-left: 50px; color: #e75e8b;"></i></a></td>
                                </tr>
                                <% }) %>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include ('partials/footer.ejs') %>
