<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<section data-bs-version="5.1" class="form1 cid-ur9qbjHJTj mbr-fullscreen mbr-parallax-background" id="form1-a">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(255, 255, 255);"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="/produtos/update" method="POST" class="mbr-form form-with-styler" data-form-title="cadastro_produto">
                    <div class="row">
                    </div>
                    
                    <div class="dragArea row">
                        <div class="col-12">
                            <h1 class="mbr-section-title mb-4 mbr-fonts-style align-center display-2">
                                <strong>Edição de produtos</strong>
                            </h1>
                        </div>
                        
                        <!-- Campo Nome -->
                        <div class="col-md col-12 form-group mb-3" data-for="nome">
                            <input type="text" name="nome" value="<%= produto.nome %>" data-form-field="nome" class="form-control" >
                        </div>
                        
                        <!-- Campo Preço -->
                        <div class="col-md col-12 form-group mb-3" data-for="preco">
                            <input type="number" name="preco" value="<%= produto.preco %>" data-form-field="preco" class="form-control" step="0.2">
                        </div>

                        <!-- Campo Categoria -->
                        <div class="col-md col-12 form-group mb-3" data-for="categoria">
                            <input type="text" name="categoria" value="<%= produto.categoria %>" data-form-field="categoria" class="form-control" >
                        </div>
                        
                        <!-- Campo Link da Imagem -->
                        <div class="col-md col-12 form-group mb-3" data-for="imagem">
                            <input type="text" name="imagem" value="<%= produto.imagem %>" data-form-field="imagem" class="form-control" >
                        </div>

                        <!-- Botão de envio -->
                        <div class="mbr-section-btn col-12 col-md-auto">
                            <button type="submit" class="btn btn-success display-4">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<%- include ('partials/footer.ejs') %>
