<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<section data-bs-version="5.1" class="features10 cid-updVf1zu2e" id="features11-8" style="background-color: #e2f1f1;">
    <div class="container">
        <div class="title">
            <h3 class="mbr-section-title mbr-fonts-style mb-4 display-2 ">
                <strong>Lista de Produtos</strong>
            </h3>
            
        </div>
        <% produtos.forEach(produto => { %>
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-3">
                        <div class="image-wrapper">
                            <img src="/imgs/<%= produto.imagem %>" alt="Mobirise Website Builder" title="">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-12">
                                    <div class="top-line">
                                        <h4 class="card-title mbr-fonts-style display-5"><strong><%= produto.nome %></strong></h4>
                                        <p class="cost mbr-fonts-style display-5">
                                            <%= produto.preco.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style m-0 display-7">
                                            Categoria do produto: <%= produto.categoria %>.
                                        </p>
                                        <br>
                                        <hr>
                                        <p>
                                            <i class="bi bi-pencil-square" style="font-size: 25px;"></i>
                                            <i class="bi bi-trash3-fill" style="font-size: 25px; margin-left: 50px; color: #e75e8b;"></i>
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</section>

<%- include ('partials/footer.ejs') %>
